body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: 14px;
  color: #6c7279;
  background-color: #fff;
  -webkit-font-smoothing: antialised;
}

* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0 0 10px;
}

/* Container ================================== */

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Header ===================================== */

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.header__inner {
  width: 100%;
  padding: 39px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #515369;
  align-items: center;
}

.header__logo {
  font-size: 0;
}

/* nav ===================================== */

.nav {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
}

.nav__link {
  margin-left: 50px;
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
  transition: opacity 0.1s linear;
}

.nav__link:hover {
  opacity: 1;
}

.nav__link:first-child {
  margin-left: 0;
}

/* Intro ===================================== */

.intro {
  padding-top: 100px;
  height: 750px;
  background: #2f314b url("img/Intro/Intro.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__title {
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  line-height: 1.1;
  color: #fff;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.intro__inner {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.intro__subtitle {
  font-size: 22px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 60px;
}

/* Button ===================================== */

.btn {
  font-family: inherit;
  padding: 14px 40px;
  display: inline-block;
  vertical-align: top;
  border-radius: 2px;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background 0.2s linear;
  text-align: center;
}

.btn--red {
  background-color: #e84545;
}

.btn--red:hover {
  background-color: #f70808;
}

.btn--long {
  min-width: 280px;
}

/* Features ===================================== */

.features {
  margin: 95px 0;
  display: flex;
  flex-wrap: wrap;
}

.features__item {
  padding: 0 40px;
  width: 33.3333%;
  text-align: center;
  margin: 25px 0;
}

.features__icon {
  margin-bottom: 25px;
}

.features__title {
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.features__text {
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
}

/* Features ===================================== */

.works {
  display: flex;
  flex-wrap: wrap;
}

.works__item {
  width: 25%;
  position: relative;
  overflow: hidden;
  height: 350px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.woks__img {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  transform: translate3d(-50%, -50%, 0);
}

.works__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(232, 69, 69, 0.9);
  opacity: 0;
  transition: opacity 0.1s linear;
}
.works__item:hover .works__content {
  opacity: 1;
}

.works__title {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.works__text {
  font-size: 14px;
  color: #fff;
}

/* Team ===================================== */

.team {
  margin: 100px 0 70px;
}

.team__inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.team__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team__photo {
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
  height: auto;
}

.team__name {
  margin-bottom: 8px;
  font-size: 22px;
  color: #2d3033;
}

.team__prof {
  margin-bottom: 15px;
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
}
.team__text {
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Social ===================================== */

.social {
  display: flex;
}

.social__item {
  margin-right: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e8ecee;
}

.social__icon {
  fill: #c6cacc;
  display: block;
  height: 18px;
  transition: fill 0.1s linear;
}

.social__item:hover {
  background-color: #e8ecee;
}

.social__item:hover .social__icon {
  fill: #e84545;
}

.social--footer {
  justify-content: center;
}

.social--footer .social__item {
  border-width: 2px;
  border-color: #fff;
  border-radius: 2px;
  background-color: transparent;
}

.social--footer .social__item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.social--footer .social__icon {
  fill: #fff;
}

/* Testimonials ===================================== */

.rewiews {
  background-color: #53354a;
  overflow: hidden;
}

.rewiews__item {
  display: flex;
  flex-wrap: wrap;
}

.rewiews__photo {
  position: relative;
  width: 50%;
  height: 500px;
}

.rewiews__image {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  transform: translateY(-50%);
}

.rewiews__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
  width: 50%;
  color: #fff;
}

.rewiews__text {
  font-family: "Cardo", sans-serif;
  font-style: italic;
  font-size: 36px;
  line-height: 1.2;

  margin-bottom: 25px;
}

.rewiews__author {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Download ===================================== */

.download {
  margin: 90px 0;
  text-align: center;
}

.download__title {
  font-size: 28px;
  color: #2d3033;
  font-weight: 300;
  margin-bottom: 10px;
}

.download__text {
  font-size: 13px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Footer ===================================== */

.footer {
  background-color: #3a3e64;
}

.footer__inner {
  padding: 70px 0;
  display: flex;
  flex-wrap: wrap;
}
.footer__block {
  width: 33.333333%;
  text-align: center;
  padding: 0 15px;
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__text {
  font-style: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.5;
}

/* Copyride ===================================== */

.copyright {
  background-color: #313454;
  padding: 20px 0;
}

.copyright__text {
  text-align: center;
  font-size: 14px;
  color: #808080;
  line-height: 1.5;
}

.copyright__text b {
  color: #fff;
}

/* Burger ===================================== */

.burger {
  padding: 9px 2;
  display: none;
  background: none;
  border: 0;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparents;
  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  z-index: 1;
}

.burger__item:before {
  top: -8px;
}

.burger__item:after {
  bottom: -8px;
}

/* Media ===================================== */
@media (max-width: 1100px) {
  /* Works */
  .works__item {
    width: 50%;
  }
}

@media (max-width: 991px) {
  /* Nav */

  .nav {
    display: none;
  }

  .burger {
    display: block;
  }

  /* Intro */
  .intro__title {
    font-size: 40px;
  }

  /* Features */

  .features__item {
    width: 50%;
  }

  /* Team */

  .team__item {
    width: 50%;
    align-items: center;
    text-align: center;
  }

  .team__photo {
    margin-left: auto;
    margin-right: auto;
  }

  /* Social */

  .social {
    justify-content: center;
  }

  /* Rewiews */

  .rewiews__photo {
    margin: 15px 0 40px;
    width: 100%;
    overflow: hidden;
  }
  .rewiews__content {
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
    padding-left: 0;
  }

  .rewiews__image {
    right: -15px;
    min-width: 991px;
  }
}
@media (max-width: 767px) {
  .intro {
    height: auto;
    padding-top: 130px;
    padding-bottom: 30px;
  }

  .intro__title {
    font-size: 30px;
  }

  .intro__subtitle {
    font-size: 17px;
    margin-bottom: 30px;
  }

  /* Features */

  .features {
    margin: 40px 0;
  }

  .features__item {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  /* Works */
  .works__item {
    width: 100%;
    height: 250px;
  }

  /* Team */

  .team {
    margin: 60px 0 30px;
  }

  .team__item {
    width: 100%;
  }

  /* Rewiews */

  .rewiews__text {
    font-size: 25px;
  }

  /* Button */

  .btn--long {
    min-width: 260px;
  }

  /* Download */

  .download {
    margin: 50px 0;
  }

  .download__title {
    font-size: 24px;
  }

  /* Footer */

  .footer__inner {
    padding: 30px 0;
  }

  .footer__block {
    width: 100%;
    margin-bottom: 30px;
    padding: 0;
  }

  .footer__block:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 414px) {
  .rewiews__image {
    right: -100px;
  }
}
